310-notebook==0.1.0
absl-py==1.0.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==2.0.9
click==8.1.7
comm==0.2.0
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.12.4
flatbuffers==2.0
fonttools==4.28.5
fqdn==1.5.1
fsspec==2023.9.2
gast==0.4.0
gitdb==4.0.11
gitpython==3.1.42
google-auth-oauthlib==0.4.6
google-auth==2.3.3
google-pasta==0.2.0
grpcio==1.43.0
h11==0.14.0
h5py==3.6.0
httpcore==1.0.4
httpx==0.27.0
idna==3.3
importlib-metadata==4.9.0
importlib-resources==6.3.0
ipykernel==6.27.1
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
jinja2==3.1.2
joblib==1.3.2
json5==0.9.22
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jupyter-client==8.6.0
jupyter-console==6.6.3
jupyter-core==5.5.1
jupyter-events==0.9.1
jupyter-lsp==2.2.4
jupyter-server-terminals==0.5.3
jupyter-server==2.13.0
jupyter-theme-editor==0.4.2
jupyter==1.0.0
jupyterlab-darkside-theme==0.1.2
jupyterlab-extension-theme-onedark==0.1.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.4
jupyterlab-widgets==3.0.10
jupyterlab==4.1.5
jupyterthemes==0.20.0
keras-preprocessing==1.1.2
keras==2.7.0
kiwisolver==1.3.2
lesscpy==0.15.1
libclang==12.0.0
markdown==3.3.6
markupsafe==2.1.3
matplotlib-inline==0.1.6
matplotlib==3.5.1
mistune==3.0.2
mpmath==1.3.0
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
notebook-shim==0.2.4
notebook==7.1.2
numpy==1.21.4
oauthlib==3.1.1
opt-einsum==3.3.0
overrides==7.7.0
packaging==21.3
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==8.4.0
pip==24.0
pkgutil-resolve-name==1.3.10
platformdirs==4.1.0
ply==3.11
prometheus-client==0.20.0
prompt-toolkit==3.0.43
protobuf==3.19.1
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pygments==2.17.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
qtpy==2.4.1
referencing==0.33.0
regex==2023.12.25
requests-oauthlib==1.3.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
rsa==4.8
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.0
send2trash==1.8.2
sentry-sdk==1.40.5
setproctitle==1.3.3
setuptools==41.2.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
sympy==1.12
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow==2.7.0
termcolor==1.1.0
terminado==0.18.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
types-python-dateutil==2.9.0.20240315
typing-extensions==4.10.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.18
wandb==0.16.3
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
werkzeug==2.0.2
wheel==0.37.0
widgetsnbextension==4.0.10
wrapt==1.13.3
zipp==3.6.0